.HealthCalendar-table {
  border-spacing: 3px;
  overflow: hidden;
  position: relative;

  width: max-content;
  border-collapse: separate;
}

.HealthCalendar-row {
  height: var(--cell-size, 10px);
}

.ContributionCalendar-label {
  position: relative;
  padding: .125em .5em .125em 0;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

.HealthCalendar-day {
  padding: 0;
  width: var(--cell-size, 10px);
  border-radius: 2px;
}

.HealthCalendar-day.odd {
  fill: var(--color-calendar-graph-day-L4-bg);
  background-color: var(--color-calendar-graph-day-L4-bg);
  outline: 1px solid var(--color-calendar-graph-day-L4-border);
}

:root, [data-color-mode=light][data-light-theme*=light], [data-color-mode=dark][data-dark-theme*=light] {
  --color-calendar-graph-day-bg: #ebedf0;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
  --color-calendar-graph-day-L1-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L2-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L3-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L4-border: rgba(27, 31, 35, 0.06);
}
.HealthCalendar-day, .HealthCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
  shape-rendering: geometricPrecision;
  background-color: var(--color-calendar-graph-day-bg);
  border-radius: 2px;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
}
.HealthCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
  background-color: var(--color-calendar-graph-day-L1-bg);
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
.HealthCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
  background-color: var(--color-calendar-graph-day-L2-bg);
  outline: 1px solid var(--color-calendar-graph-day-L2-border);
}
.HealthCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
  background-color: var(--color-calendar-graph-day-L3-bg);
  outline: 1px solid var(--color-calendar-graph-day-L3-border);
}
.HealthCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
  background-color: var(--color-calendar-graph-day-L4-bg);
  outline: 1px solid var(--color-calendar-graph-day-L4-border);
}
