#root {
  padding: 24px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.label-item {
  display: flex;
  align-items: center;
  margin-block-end: 16px;
}
.label-item .name {
  color: #999;
}

.indicator {
  height: var(--cell-size);

  display: flex;
  gap: 8px;
  justify-content: flex-end;

  margin-block-start: 16px;
}
.indicator .cell {
  height: var(--cell-size);
}

.paste-area {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  min-height: 100px;
  outline: none;
} 
